@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR+Guides&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Playwrite+GB+S+Guides:ital@0;1&family=Playwrite+NZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* =========================
   GLOBAL CSS VARIABLES
========================= */

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #104a17;

  /* Shades */
  --primary-50: #eef8ef;
  --primary-100: #d7edd9;
  --primary-200: #b3d8b7;
  --primary-300: #86be8c;
  --primary-400: #5ba364;
  --primary-500: #2f7c39;
  --primary-600: #104a17;
  --primary-700: #0c3b12;
  --primary-800: #082b0d;
  --primary-900: #041807;

  /* Extra */
  --sidebar-bg: #0b1f0e;
  --card-bg: #ffffff;
  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --border-color: #e2e8f0;
  --danger: #ef4444;

  --shadow-primary: 0 10px 25px rgba(16, 74, 23, 0.18);
}
